{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
    <div class="col-md-8 mx-auto">
        
        <h1>VIEW DIAGNOSTICS AVAILABLE</h1>
        
    </div>
</div>


<div class="container">
    <table class="table table-hover table-striped table-bordered">
        {% if data %}
        <thead>
            <tr class="text-dark bg-warning">
                <th>TEST ID</th>
                <th>NAME</th>
                <th>PRICE</th>

            </tr>
        </thead>
        {% for i in data%}
        <tbody>
            <tr>

                <td>{{i.Test_ID}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Price}}</td>




            </tr>
        </tbody>
    
    {% endfor %}
</table>
{% endif %}

</div>

{% endblock %}