{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-6">
    <h2 class="text-center mt-5">Search Patient Records</h2>
    <form action="" method="POST">
      <div class="form-row my-5">
        <div class="form-group col-md-12">
          <div class="input-group mb-3">
            <label for="inputid" class="col-md-4 col-form-label">Enter Patient ID:</label>
            <input type="number" name="pid" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"
              placeholder="Patient ID" required value="{{request.form.pid}}" id="inputid"
              aria-describedby="button-addon2" />
            <div class="input-group-append">
              <button class="btn btn-dark text-warning" type="submit" id="button-addon2">
                View Patient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="">
  <table class="table table-hover table-striped table-bordered col-md-12 mb-5 table-responsive w-100 d-block d-md-table">
    {% if data %}
    <thead>
      <tr class="text-dark bg-warning text-center">
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Status</th>
        <th>Bed Type</th>
        <th>Date of Admission</th>
        <th>update Record</th>
        <th>Discharge Patient</th>
        <th>Assign Medicines</th>
        <th>Add Diagnostics</th>
        <th>Generate Bill</th>

      </tr>
    </thead>

    <tbody>
      <tr class="text-center">

        <td>{{data.Name}}</td>
        <td>{{data.Age}}</td>
        <td>{{data.Address}}, {{data.City}}, {{data.State}}</td>
        <td>{{data.Status}}</td>
        <td>{{data.BedType}}</td>
        <td>{{data.dam}}</td>
        <td>
          <p><a href="{{ url_for( 'UpdatePatient' ,pid=data.PID ) }}">Update</a></p>
        </td>
        <td>
          <p><a href="{{ url_for( 'DeletePatient' ,pid=data.PID ) }}">Dischare</a></p>
        </td>
        <td>
          <p><a href="{{ url_for( 'assign_medicines' ,pid=data.PID ) }}">Assign medicines</a></p>
        </td>
        <td>
          <p><a href="{{ url_for( 'refer_test' ,pid=data.PID ) }}">Add Diagnostics</a></p>
        </td>
        <td>
          <p><a href="{{ url_for( 'BillGeneration' ,pid=data.PID ) }}">Generate Bill</a></p>
        </td>



      </tr>
    </tbody>
    {% endif %}
  </table>

</div>

{% endblock %}
