{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">

    <div class="container">
        <h1>Patient Details</h1>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr class="bg-dark text-warning">
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Bed Type</th>
                    <th>Date of Admission</th>
                    <th>Date of Discharge</th>
                </tr>
            </thead>
            {% if data %}
            <tbody>
                <tr>
                    <td>{{data.Name}}</td>
                    <td>{{data.Age}}</td>
                    <td>{{data.Address}}, {{data.City}}, {{data.State}}</td>
                    <td>{{data.Status}}</td>
                    <td>{{data.BedType}}</td>
                    <td>{{data.dam}}</td>
                    <th>{{now_date}}</th>
                </tr>
            </tbody>
            
        </table>
        {% if admission_bill %}
        <p>Number of Days = {{days_admitted}}  </p>
        <p>Bed Charge for Single Day = {{bedcharges}}</p>
        <p>Hospitality Charges = {{admission_bill.Total_Bill}}</p>
        {% endif %} 
    </div>
        <div class="container">
            <h1>Pharmacy Charges</h1>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr class="bg-dark text-warning">
                        <th>Patient ID</th>
                        <th>Medicine ID</th>
                        <th>Medicine Name</th>
                        <th>Medicine Price</th>
                        <th>Quantity Issued</th>
                        <th>Amount</th>
                        <th>Date of issue</th>

                    </tr>
                </thead>
                {% if issue_pharmacy %}
                {% for i in issue_pharmacy %}
                <tbody>
                    <tr>

                        <td>{{i.Patient_ID}}</td>
                        <td>{{i.Medicine_ID}}</td>
                        <td>{{i.Name}}</td>
                        <td>{{i.Price}}</td>
                        <td>{{i.Quantity}}</td>
                        <td>{{i.Quantity * i.Price}}</td>
                        <td>{{i.das}}</td>

                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
            {% if pharmacy_bill %}
            <p> Total Pharmacy Bill = {{pharmacy_bill.Total_Bill}}</p>
            {% endif %}  
        </div>

    </div>
    <div class="container">
        <table class="table table-hover table-striped table-bordered">
            <h1>Diagnostic Charges</h1>
            <thead>
                <tr class="bg-dark text-warning">
                    <th>Test Name</th>
                    <th>TEST ID</th>
                    <th>TEST Price</th>
                    <th>Date of issue</th>
                </tr>
            </thead>
            {% if issue_diagnosis %}
            {% for i in issue_diagnosis %}
            <tbody>
                <tr>

                    <td>{{i.Name}}</td>
                    <td>{{i.Test_ID}}</td>
                    <td>{{i.Price}}</td>
                    <td>{{i.das}}</td>

                </tr>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
        {% if diagnosis_bill %}
            <p> Total Diagnosis Bill = {{diagnosis_bill.Total_Bill}}</p>
        {% endif %}
    </div>
<div class=" col-md-6 mx-auto my-3">
    <form>
    {% if grand_bill %}
    <p> <h3>Grand Total = {{grand_bill}}</h3> </p>
    {% endif %}
     action="{{ url_for( 'DeletePatient' ,pid=data.PID ) }}">
        <button type="submit">Discharge</button>
     </form>
</div>
{% endif %}
</div>
{% endblock %}