<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGMA-Health-Care</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
    <link rel="icon" href="{{ url_for('static',filename='images/logo.png')}}" sizes="16x16">

</head>

<body>
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="{{url_for('index')}}">
                    <img src="{{ url_for('static',filename='images/logo.png')}}" width="75" height="75"
                        class="d-inline-block align-middle" alt="" loading="lazy">
                    Sigma Health Care 
                </a>
                {% if session['username'] %}
                <h4 class="text-right vertical-middle">Welcome, {{ session['username'] }}</h4>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "includes/nav.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    </div>
    {% include "includes/_footer.html" %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script language="javascript">print_state("sts");</script>
    <script>
        function onlyNumberKey(evt) {
            // Only ASCII charactar in that range allowed 
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        } 
    </script>
</body>

</html>