{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center mb-3">
    <div class="col-md-6">
        <form name="login" action="" method="post" novalidate>
            <h1 class="mb-4">{{title}}</h1>
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group row col-md-12">
                    <div class="col-sm-4 col-form-label">
                        {{ form.user_name.label }}<text class="text-danger">*</text>
                    </div>
                    <div class="col-sm-8">{{ form.user_name(size=35, class_="form-control", placeholder="Enter User Name here") }}</div>
                    {% for error in form.user_name.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-sm-4 col-form-label">
                        {{ form.password.label }}<text class="text-danger">*</text>
                    </div>
                    <div class="col-sm-8">{{ form.password(size=35, class_="form-control", placeholder="Enter Password here") }}</div>
                    {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class=" col-md-2 mx-auto my-3">
                    {{ form.submit(class_="btn btn-warning text-dark mr-0 my-auto") }}
                </div>
                <div class=" col-md-6 mx-auto my-3">
                    <a class="btn-dark btn text-warning" href="/login"> RESET </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
