{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-6">
    <h1>Search Patient Records</h1>
    <form action="" method="POST">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Patient ID</label>
          <input type="number" name="pid" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" required
            value={{request.form.pid}}>
        </div>
        <button type="submit" class="btn btn-primary">View</button>
      </div>
    </form>
  </div>
</div>


<div class="container">
  <table class="table table-hover table-striped table-bordered">
    {% if data %}
    <thead>
      <tr class="text-dark bg-warning">
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Status</th>
        <th>Bed Type</th>
        <th>Date of Admission</th>
        <th>Assign Medicines</th>
      </tr>
    </thead>

    <tbody>
      <tr>

        <td>{{data.Name}}</td>
        <td>{{data.Age}}</td>
        <td>{{data.Address}}, {{data.City}}, {{data.State}}</td>
        <td>{{data.Status}}</td>
        <td>{{data.BedType}}</td>
        <td>{{data.dam}}</td>
        <td>
          <p><a href="{{ url_for( 'assign_medicines' ,pid=data.PID ) }}">assign medicines</a></p>
        </td>



      </tr>
    </tbody>
    {% endif %}
  </table>

</div>

{% endblock %}