{% extends 'layout.html' %} {% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-6">
    <h2 class="text-center mt-5">Search Patient Records For Diagnosis</h2>
    <form action="" method="POST">
      <div class="form-row my-5">
        <div class="form-group col-md-12">
          <div class="input-group mb-3">
            <label for="inputid" class="col-md-4 col-form-label">Enter Patient ID:</label>
            <input type="number" name="pid" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"
              placeholder="Patient ID" required value="{{request.form.pid}}" id="inputid"
              aria-describedby="button-addon2" />
            <div class="input-group-append">
              <button class="btn btn-dark text-warning" type="submit" id="button-addon2">
                View Patient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <table class="table table-hover table-striped table-bordered">
    {% if data %}
    <thead>
      <tr class="text-dark bg-warning">
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Status</th>
        <th>Bed Type</th>
        <th>Date of Admission</th>
        <th>Assign Medicines</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{data.Name}}</td>
        <td>{{data.Age}}</td>
        <td>{{data.Address}}, {{data.City}}, {{data.State}}</td>
        <td>{{data.Status}}</td>
        <td>{{data.BedType}}</td>
        <td>{{data.dam}}</td>
        <td>
          <p>
            <a href="{{ url_for( 'refer_test' ,pid=data.PID ) }}">Refer Test</a>
          </p>
        </td>
      </tr>
    </tbody>
    {% endif %}
  </table>
</div>

{% endblock %}