{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">

<div class="container">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr class="bg-dark text-warning">
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>City</th>
        <th>Status</th>
        <th>Bed Type</th>
        <th>Date of Admission</th>
      </tr>
    </thead>
    {% if data %}
    <tbody>
      <tr>
        <td>{{data.Name}}</td>
        <td>{{data.Age}}</td>
        <td>{{data.Address}}</td>
        <td>{{data.City}}</td>
        <td>{{data.Status}}</td>
        <td>{{data.BedType}}</td>
        <td>{{data.dam}}</td>
      </tr>
    </tbody>
    {% endif %}
  </table>

  <div class="container">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr class="bg-dark text-warning">
          <th>Patient ID</th>
          <th>Medicine ID</th>
          <th>Quantity Issued</th>
          <th>Date of issue</th>
        </tr>
      </thead>
      {% if issue_data %}
      {% for i in issue_data %}
      <tbody>
        <tr>
          
          <td>{{i.Patient_ID}}</td>
          <td>{{i.Medicine_ID}}</td>
          <td>{{i.Quantity_Issued}}</td>
          <td>{{i.das}}</td>
          
        </tr>
      </tbody>
      {% endfor %}
      {% endif %}
    </table>
  </div>  
 
</div> 

  <div class="container">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr class="bg-dark text-warning">
          <th>Medicine Name</th>
          <th>Medicine ID</th>
          <th>Quantity</th>
          <th>Rate</th>
        </tr>
      </thead>
      {% if med_data%}
      <tbody>
        <tr>
          <td>{{med_data.Name}}</td>
          <td>{{med_data.Medicine_ID}}</td>
          <td>{{med_data.Quantity_Available}}</td>
          <td>{{med_data.Price}}</td>
        </tr>
      </tbody>
      {% endif %}
    </table>
  </div>  

<div class="col-md-6">
  <h4 class="mb-4">Assign Medicines</h4>
  <form action="" method="POST">
    <div class="form-row">
    <div class="form-group row col-md-12">
      <label for="cid" class="col-sm-5 col-form-label">Medicine ID:</label>
      <div class="col-sm-7">
        <input type="number" id="cid" name="medicine_id" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"  value={{request.form.medicine_id}}>
      </div>
    </div>



    <div class="form-group row col-md-12">
      <label for="depAmt" class="col-sm-5 col-form-label">Quantity of Medicine: <text class="text-danger">*</text></label>
      <div class="col-sm-7">
        <input type="number" id="depAmt" name="medicine_qty" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" required value={{request.form.medicine_qty}}>
      </div>
    </div>
    <div class="col-md-12"><p class="text-danger">(*) Feilds are mendatory</p></div>
    <div  class=" col-md-6 mx-auto my-3">
    <button type="submit" class="btn btn-dark text-warning ml-1">Assign Medicine</button>
    </div>
  </div>
  </form>
</div>



</div>
</div>
{% endblock %}