{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
    <div class="col-md-6">
        <h2 class="text-center mt-5">VIEW PATIENT RECORDS</h2>

    </div>
</div>


<div class="container">
    <table class="table table-hover table-striped table-bordered mb-5 table-responsive ">
        {% if data %}
        <thead>
            <tr class="text-dark bg-warning text-center">
                <th>Patient ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Status</th>
                <th>Bed Type</th>
                <th>Date of Admission</th>
            </tr>
        </thead>
        {% for i in data%}
        <tbody>
            <tr class="text-center">
                <td>{{i.PID}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Age}}</td>
                <td>{{i.Address}}, {{i.City}}, {{i.State}}</td>
                <td>{{i.Status}}</td>
                <td>{{i.BedType}}</td>
                <td>{{i.dam}}</td>



            </tr>
        </tbody>

        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}