{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
    <div class="col-md-6">
        <h1>VIEW PHARMACY RECORDS</h1>

    </div>
</div>


<div class="container">
    <table class="table table-hover table-striped table-bordered">
        {% if data %}
        <thead>
            <tr class="bg-dark text-warning">
                <th>MEDICINE ID</th>
                <th>NAME</th>
                <th>QUANTITY AVAILABLE</th>
                <th>PRICE</th>

            </tr>
        </thead>
        {% for i in data%}
        <tbody>
            <tr>
                <td>{{i.Medicine_ID}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Quantity_Available}}</td>
                <td>{{i.Price}}</td>
            </tr>
        </tbody>

        {% endfor %}
    </table>
    {% endif %}

</div>

{% endblock %}