<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link nav-item" href="/">Home</a>
                </li>
                {% if session['username'] %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Customer Management</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/create_customer">Create Customer</a>
                        <a class="dropdown-item" href="/update_customer">Update Customer</a>
                        <a class="dropdown-item" href="/delete_customer">Delete Customer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/customer_status">Customer status</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Account Management</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/create_account">Create Account</a>
                        <a class="dropdown-item" href="/delete_account">Delete Account</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Status Details</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/account_status">Account Status</a>
                        <a class="dropdown-item" href="/customer_search">Customer Search</a>
                        <a class="dropdown-item" href="/account_search">Account Search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Account Operations</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/deposit_money">Deposit Money</a>
                        <a class="dropdown-item" href="/withdraw_money">Withdraw Money</a>
                        <a class="dropdown-item" href="/transfer_money">Transfer Money</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/print_stm">View statements </a>
                        <a class="dropdown-item" href="/date_stm">View statements by date</a>
                </li>
                {% endif %}
                {% if not session['username'] %}
                <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link nav-item ">Login</a></li>
                {% else %}
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link nav-item">Logout</a></li>
                {% endif %}
        </div>



        </ul>
        <!------
            <ul>{% if not session['username'] %}
            <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link nav-item ">Register</a></li>   
            {% endif %}
            </ul>
            ------->
        <ul>

        </ul>
    </div>
    </div>
</nav>