{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Flask Banking Services.</h1>

            {% if session['username'] %}
                <h3 class="mb-3">Let's get started.</h3>
            {% else %}
                <p class="mb-3">Already registered? <a href="{{url_for('login') }}">Login</a></p>
            {% endif %}


            {% if not session['username'] %}
            <div style="text-align:left;">
                <h2> Why should you join us?</h2> 
                
                <p>Bank accounts are not just for those with a fortune to stash away—anyone can open one. Essentially, the only requirement for opening an account is proof of identity (such as a driver's license, passport or state-issued ID card). Some banks accept other forms of identity for opening up an account, such as a voter registration card from a different country.</p>

                <p>If you're not already using a bank account to help manage your finances, there are some excellent reasons to take this financial step:</p> 
                <p>1- Safety: Stuffing your money under the mattress may be tempting, but in the event of a burglary or a fire you are not protected. It is far safer to keep your money in a bank account. Even if your bank is robbed, your bank account is insured, so you won't lose your money.</p> 
                <p>2-Simplicity: Cash payments may work for you in some instances, but it is certainly not appropriate in all of them. Most standard bank accounts offer the use of a check or debit card in conjunction with the opening of a new account. By using a checkbook or debit card, you can conduct a variety of payments and purchases without having to carry loads of cash in your wallet.</p> 
                <p>Most banks offer free or low-fee personal accounts. On the bank's website, look for an account labeled “student,” “budget checking,” or something similar. Budget checking may limit your monthly transactions, but it should give you a basic checking account, ATM access, a checkbook and debit card, and (often) direct deposit. Most banks offer online account access, even with their free or very low cost account types</p>
                <p>Having a bank account can be a great tool for managing your personal finances. Account statements can help you determine how and where you are spending your money and put you on track for a reasonable savings plan. Additionally, personal savings accounts often pay interest, which basically earns you free money. Interest paid means your money is working harder for you</p>
                <p>To open up a standard bank account, visit some financial institutions in your neighborhood and compare fees, interest rates and other benefits before deciding which bank is right for you. Make sure to compare a national bank, a regional institution and a credit union, if you are eligible to become a member. Start with their websites to save you time.</p>
            </div>
            {% else %}
            <div style="text-align: left;">
                <h2>About Us</h2>
                <p>Flask Banking Services Ltd. is an Indian banking and financial services company headquartered in Lucknow, Uttar Pradesh. It has a base of 3 permanent employees as of 16 June 2020. Flask Bank is India’s only flask based lender by assets.It is the largest bank in India by market capitalisation as of March 2020.</p>
                </div>
                <div class="row">
                    <div class="col-md-8 justify-content-center mb-5 mx-auto">
                <img class="mx-auto" src="{{ url_for('static',filename='images/capture.png')}}">
                
            </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
