{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-6">
  <h1 class="mb-4">Transfer Money</h1>
  <form action="" method="POST">
    <div class="form-row">
    <div class="form-group row col-md-12">
      <label for="cid" class="col-sm-5 col-form-label">Source Customer ID:</label>
      <div class="col-sm-7">
        <input type="text" id="cid" name="source_custid" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"  value={{request.form.source_custid}}>
      </div>
    </div>


    <div class="form-group row col-md-12">
      <label for="cid" class="col-sm-5 col-form-label">Target Customer ID:</label>
      <div class="col-sm-7">
        <input type="text" id="cid" name="target_custid" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"  value={{request.form.target_custid}}>
      </div>
    </div>


    <div class="form-group row col-md-12">
      <label for="account type" class="col-sm-5 col-form-label">Source Account Type: <text class="text-danger">*</text></label>
      <div class="col-sm-7">
        <select id="accounttype" name="source_accounttype" class="form-control" required>
          <option disabled> Source Account type</option>
          <option >Savings</option>
          <option >Current</option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label for="account type" class="col-sm-5 col-form-label">Target Account Type: <text class="text-danger">*</text></label>
      <div class="col-sm-7">
        <select id="accounttype" name="target_accounttype" class="form-control" required>
          <option disabled> Target Account type</option>
          <option >Savings</option>
          <option >Current</option>
        </select>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label for="depAmt" class="col-sm-5 col-form-label">Amount to Transfer: <text class="text-danger">*</text></label>
      <div class="col-sm-7">
        <input type="number" id="depAmt" name="depAmt" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" required value={{request.form.depAmt}}>
      </div>
    </div>
    <div class="col-md-12"><p class="text-danger">(*) Feilds are mendatory</p></div>
    <div  class=" col-md-6 mx-auto my-3">
    <button type="submit" class="btn btn-dark text-warning ml-1">Trasfer Money</button>
    </div>
  </div>
  </form>
</div>
</div>
</div>
{% endblock %}