{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-6">
  <h1 class="mb-4">Update customer record</h1>
  <form action="" method="POST">
    <div class="form-row">
    <div class="form-group row col-md-12">
      <label for="ssnid" class="col-sm-4 col-form-label">Customer SSN ID: <text class="text-danger">*</text></label>
      <div class="col-sm-8">
        <!-- <label class="col-form-label" >123456789</label> -->
        <input type="text" id="ssnid" name="ssnID"onkeypress="return /[0-9]/i.test(event.key)"  class="form-control" required value={{request.form.ssnID}}>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Customer ID: </label>
      <div class="col-sm-8">
        <input id="customername" type="text" onkeypress="return /[0-9]/i.test(event.key)" name="custID" class="form-control"  required  >
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Cutomer's Old name: </label>
      <div class="col-sm-8" >
        <input id="customername" type="text" name="old_custName" onkeypress="return /[a-z]/i.test(event.key)" class="form-control"  required >
    </div>
    <div class="form-group row col-md-12">
      <label for="customername" class="col-sm-4 col-form-label">New Name: <text class="text-danger">*</text></label>
      <div class="col-sm-8">
      <input id="customername" type="text" name="custName" onkeypress="return /[a-z]/i.test(event.key)" class="form-control"  required value={{request.form.custName}}>
    </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Old age: </label>
      <div class="col-sm-8">
        <input  type="text" name="old_age" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"  required >
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label for="customerage" class="col-sm-4 col-form-label">New Age: <text class="text-danger">*</text></label>
      <div class="col-sm-8">
        <input id="customerage" type="number" name="custAge" onkeypress="return /[0-9]/i.test(event.key)" class="form-control"  required value={{request.form.custAge}}>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Old Address: </label>
      <div class="col-sm-8">
        <input  type="text" name="old_custName" class="form-control"  required >
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label for="customeraddress" class="col-sm-4 col-form-label">New Address: <text class="text-danger">*</text></label>
      <div class="col-sm-8">
        <input id="customeraddress" type="text" name="custAddress" class="form-control"  required value={{request.form.custAddress}}>
      </div>
    </div>
    <div class="col-md-12"><p class="text-danger">(*) Feilds are mendatory</p></div>
    <div  class=" col-md-6 mx-auto my-3">
    <button type="submit" class="btn btn-warning ml-1">Update</button>
    <button type="submit" class="btn btn-danger mx-3">Reset</button>
    </div>
  </div>
  </form>
</div>
</div>
</div>
<div>
  <p>
    {{msg}}
  </p>
</div>
{% endblock %}