<footer id="sticky-footer" class="text-white-50 bg-dark">
  <div class="container">
    <div class="row bg-dark">
      <div class="col-md-4 mt-2">
        <h3 class="text-warning">About us</h3>
        <p>SIGMA HealthCare was established in June 2020 by Group of Engineers, renowned as the architect of modern
          healthcare in India. As the nation’s first online hospital, SIGMA Hospitals is acclaimed for pioneering the
          private healthcare revolution in the country.</p>
      </div>
      <div class="col-md-4 mt-2">
        <h3 class="text-warning">Services</h3>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-dark py-2 pl-1"><a class="text-light" href="/createpatient">Creating Patient Record</a></li>
          <li class="list-group-item bg-dark py-2 pl-1"><a class="text-light" href="/stock_medicines">Track Medicines</a></li>
          <li class="list-group-item bg-dark py-2 pl-1"><a class="text-light" href="/available_test">Track Diagnostics</a></li>
          <li class="list-group-item bg-dark py-2 pl-1"><a class="text-light" href="/billing">Generate Bill</a></li>
        </ul>
      </div>
      <div class="col-md-4 mt-2">
        <h3 class="text-warning">Contact us</h3>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item bg-dark py-2 pl-1">Email: K_C_Srivastava@sigma.com</li>
          <li class="list-group-item bg-dark py-2 pl-1">Email: Anuj_verma@sigma.com</li>
          <li class="list-group-item bg-dark py-2 pl-1">Email: Pradeep_kumar@sigma.com</li>
          <li class="list-group-item bg-dark py-2 pl-1">Contact: 9458707426, 7505009960</li>
          <li class="list-group-item bg-dark py-2 pl-1">Address: MongoDB Road Lucknow, Uttar Pradesh - India</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-warning text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-2">
          <p>Copyright &copy; All rights reserved by <strong>SIGMA-Health-Care-Services</strong></p>
        </div>
        <div class="col-md-6 d-flex mt-2 cont-right">
          <p>Contact us: 1800-111-0009</p>
        </div>
      </div>
    </div>
  </div>
</footer>